﻿@using Finduk.Application.Base;
<!DOCTYPE html>
<html dir="ltr" lang="tr">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />


    <!-- Select-Boxes CSS -->
    <link rel="stylesheet" href="/css/components/select-boxes.css" type="text/css" />

    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
    <!-- Stylesheets End
    ============================================= -->
    <!-- DatePicker CSS -->
    <link rel="stylesheet" href="/css/components/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/components/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="/css/components/daterangepicker.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Document Title
    ============================================= -->
    @if (ViewBag.PageTitle == null)
    {
        <title>Finduk</title>
    }
    else
    {
        <title>Finduk | @ViewBag.PageTitle</title>
    }

    <!-- Document Title end-->
    <link type="text/css" rel="stylesheet" href="/custom/css/jsgrid.css" />
    <link type="text/css" rel="stylesheet" href="/custom/css/jsgrid-theme.css" />
    <link type="text/css" rel="stylesheet" href="/custom/css/jsgridCustom.css" />
    <script>
        var loginInfo = undefined;
        if (!loginInfo) {
            var loginInfo = @Json.Serialize(ApplicationContext.LoginInfo);
        }

    </script>

</head>

<body class="stretched side-header">
    <div id='showStatusMessage' data-notify-position="bottom-left" data-notify-close="true"></div>
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        @await Html.PartialAsync("HeaderLayout")
        <!-- #Header end -->
        <!-- Content
        ============================================= -->
        @RenderBody()

        <!-- #Content end -->
        <!-- Footer
        ============================================= -->
        @await Html.PartialAsync("FooterLayout")
        <!-- #footer end -->

    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <!-- Select datepicker  -->
    <script src="/js/components/moment.js"></script>
    <script src="/js/components/datepicker.js"></script>
    <script src="/js/components/timepicker.js"></script>


    <!-- Include Date Range Picker -->
    <script src="/js/components/daterangepicker.js"></script>

    <!-- Select-Boxes Plugin -->
    <script src="/js/components/select-boxes.js"></script>

    <!-- Select-Splitter Plugin -->
    <script src="/js/components/selectsplitter.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="/js/functions.js"></script>

    <!-- Custom Scripts
    ============================================= -->
    <script type="text/javascript" src="/custom/js/jsgrid.js"></script>
    <script type="text/javascript" src="/custom/js/helper.js"></script>

    <script>$('.selectsplitter').selectsplitter();</script>
</body>
</html>
