﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_half nobottommargin">
                <div class="error404 center">@Model.StatusCode</div>
            </div>

            <div class="col_half nobottommargin col_last">

                <div class="heading-block nobottomborder">
                    <h4>Ooopps.! Beklenmedik bir hata oluştu.</h4>
                    <span>@Model.Title</span>
                    <span>@Model.Detail</span>
                </div>


                <div class="col_one_third widget_links topmargin nobottommargin">
                    <ul>
                        <li><a href="/Home">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</section>
