﻿<!-- Footer
        ============================================= -->
<footer id="footer" class="dark">
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2020 All Rights Reserved by Finduk Inc.<br>
                <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="col_half col_last tright">

                <div class="clear"></div>

                <i class="icon-envelope2"></i> info@finduk.com <span class="middot">&middot;</span>
                <i class="icon-headphones"></i> +90 544 844 44 26 <span class="middot">&middot;</span>
                <i class="icon-skype2"></i> FindukOnSkype
            </div>

        </div>

    </div><!-- #copyrights end -->

</footer>
<!-- #footer end -->