﻿
<header id="header" class="no-sticky">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
    ============================================= -->
            <div id="logo" class="nobottomborder">
                <a href="/Home/Index" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo.png" alt="Finduk Logo"></a>
                <a href="/Home/Index" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="/images/logo@2x.png" alt="Finduk Logo"></a>
            </div>
            <!-- #logo end -->
            <!-- Primary Navigation
    ============================================= -->
            <nav id="primary-menu">
                <ul>
                    <li>
                        <a href="/Home/Index"><div>Anasayfa</div></a>
                    </li>
                    <li>
                        <a href="/Profile/Index"><div>Profil</div></a>
                    </li>
                    <li>
                        <a href="#"><div>Müşteri</div></a>
                        <ul>
                            <li>
                                <a href="/Contact/Index"><div>Kişiler</div></a>
                            </li>
                            <li>
                                <a href="/Company/Index"><div>Firmalar</div></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><div>Muhasebe</div></a>
                        <ul>
                            <li>
                                <a href="/Invoice/Index"><div>Faturalar</div></a>
                            </li>
                            <li>
                                <a href="/WayBill/Index"><div>Irsaliye</div></a>
                            </li>
                            <li>
                                <a href="/Receipt/Index"><div>Makbuz</div></a>
                            </li>
                        </ul>
                        
                    </li>
                    <li>
                        <a href="/Expensive/Index"><div>Masraf</div></a>
                    </li>
                    <li>
                        <a href="/CacheFlow/Index"><div>Nakit Akışı</div></a>
                    </li>
                    <li>
                        <a href="#"><div>Depo</div></a>
                        <ul>
                            <li>
                                <a href="/Store/Index"><div>Depolar</div></a>
                            </li>
                            <li>
                                <a href="/StoreAction/Index"><div>Depo Hareketler</div></a>
                            </li>
                            <li>
                                <a href="/Product/Index"><div>Ürünler</div></a>
                            </li>
                            <li>
                                <a href="/DailyPrice/Index"><div>GÜnlük Fiyat</div></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><div>Kullanıcı</div></a>
                        <ul>
                            <li>
                                <a href="/Home/UserInfo"><div>Kullanıcılar</div></a>
                            </li>
                            
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><div>Ayarlar</div></a>
                        <ul>
                            <li>
                                <a href="/Home/GeneralSettings"><div>Ülke/Şehir</div></a>
                            </li>
                            <li>
                                <a href="/GeneralFeatures/Index"><div>Genel Özellikler</div></a>
                            </li>
                            
                        </ul>
                    </li>
                    <li><a href="/Home/Contact"><div>İletişim</div></a></li>
                </ul>

                <!-- Top Cart
                ============================================= -->
                <!-- #top-cart end -->
                <!-- Top Search
                ============================================= -->
                <!-- #top-search end -->

            </nav>
            <!-- #primary-menu end -->

            <!-- Social
            ============================================= -->
            <div class="clearfix d-none d-lg-block">
                <a href="https://www.facebook.com/finduk" target="_blank" class="social-icon si-small si-borderless si-text-color si-facebook">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                </a>

                <a href="https://twitter.com/finduk" target="_blank" class="social-icon si-small si-borderless si-text-color si-twitter">
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                </a>

            </div>
            <!-- #Social end -->

        </div>

    </div>

</header>