﻿<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>@ViewBag.PageTitle</h1>
        <span>@ViewBag.PageTitleDescription</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.NavigationInfo</li>
        </ol>
    </div>

</section>
<!-- #page-title end -->