﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.CacheFlow;
}

@await Html.PartialAsync("Title")
    

    <section id="content">
        <div class="container clearfix">
            <div class="content-wrap">
                <div class="row">
                    <div class="col-lg-2">
                        <div id="tlContent"></div>
                    </div>
                    <div class="col-lg-2">
                        <div id="usdContent"></div>
                    </div>
                    <div class="col-lg-2">
                        <div id="eurContent"></div>
                    </div>
                </div>
                <div class="fancy-title title-dotted-border title-center">
                    <h2><span>Nakit</span> Bilgisi</h2>
                </div>
                <div class="container clearfix">
                    <div id='@transcationCode'></div>
                </div>
            </div>
        </div>
    </section>
    <script>
$(window).load(function () {
showGrid('@transcationCode');
function showGrid(transcationCode) {
    var getUrl = baseUrl + transcationCode + "/";
    var postUrl = baseUrl + transcationCode + "/new/";
    var financeTypeList = @Json.Serialize(ApplicationContext.FinanceType);
    var currencyTypeList = @Json.Serialize(ApplicationContext.Currency);
    var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
        inserting: false,
        editing: false,
        filtering: false,
        sorting: true,
        searching: false, 
        controller:
        {
            loadData: function (filter) {
                var result = callAPI(getUrl, null, "GET");
                if (result && result[transcationCode]) {
                    if (setTotalInfo) {
                        setTotalInfo(result[transcationCode], 'price', $('#tlContent'), $('#usdContent'), $('#eurContent'));
                    }

                    return {
                        data: result[transcationCode],
                        itemsCount: [result[transcationCode].length - 1]
                    }
                }
                else {
                    return {
                            data: [],
                            itemsCount: [0]
                        }
                }
            },
            insertItem: function (item) {
                delete item.id;
                item.insert_user = 1;
                var insertData = JSON.stringify(item);
                var result = callAPI(postUrl, insertData, "POST");
            },
            updateItem: function (item) {
                var url = getUrl + item.id + '/';
                var updateItem = JSON.stringify(item);
                var result = callAPI(url, updateItem, "PUT");
            },
            deleteItem: function (item) {
                var url = getUrl + item.id + '/';
                var result = callAPI(url, null, "DELETE");
            }
        },
        fields: [
            { name: "id", type: "number", visible: false, width: "auto" },
            { title: "Tipi", name: "cash_type", type: "select", items: financeTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
            { title: "Açıklama", name: "description", type: "text", validate: "required", width: "auto" },
            { title: "Tarihi", name: "flow_date", type: "customDateTimeField", validate: "required", width: "auto" },
            { title: "Şirket", name: "company.name", type: "text", validate: "required", width: "auto" },
            { title: "Kişi", name: "contact.name", type: "text", validate: "required", width: "auto" },
            { title: "Fiyat", name: "price", type: "text", validate: "required", width: "auto" },
            { title: "Döviz", name: "currency", type: "select", items: currencyTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
            {
                type: "control",
                width: 80,
                modeSwitchButton: false,
                editButton: false,
                filtering: false,
                searching: false,
            }
        ]
    });
    $('#' + transcationCode).jsGrid(latestJsGridOptions);
    }
    
});
    </script>
