﻿@model ExpensiveViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Expensives;
    var formId = transcationCode + "FormModal";
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "Expensive", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="contactFormModalLabel">Masraf Tanımlama</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-widget">

                    <div class="form-result"></div>

                    <div class="col_half">
                        <label for="template-contactform-name">Masraf <small>*</small></label>
                        @Html.TextBoxFor(Model => Model.price, new { id = "price", @class = "form-control required valid" })
                    </div>

                    <div class="col_half col_last">
                        <label for="template-contactform-name">Tarih <small>*</small></label>
                        <input type="text" class="form-control datetimepicker-input tleft" data-toggle="datetimepicker" autocomplete="off" id="expense_date" data-target="#expense_date" />
                        
                    </div>

                    <div class="clear"></div>
                    <div class="col_half col_last">
                        <label for="template-contactform-currency">Döviz Tipi <small>*</small></label>
                        @Html.DropDownListFor(Model => Model.currency, Model.CurrencyListItems, new { id = "currency", name = "template-contactform-currency", @class = "select-1 form-control required" })
                    </div>
                    <div class="col_half">
                        <label for="template-contactform-price">Açıklama <small>*</small></label>
                        @Html.TextBoxFor(Model => Model.description, new { id = "description", name = "template-contactform-description", @class = "sm-form-control required" })
                    </div>
                    <input type="hidden" name="prefix" value="template-contactform-">
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-12 d-flex justify-content-end align-items-center">
                    @if (Model.id > 0)
                    {
                        <button class="btn btn-success ml-2" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                    }
                    else
                    {
                        <button class="btn btn-success ml-2" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                    }
                </div>
            </div>
        </div>

        <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>

    $("form").submit(function (event) {
        event.preventDefault();
        formSubmitHandler();
    });

    $('#expense_date').datetimepicker({
        locale: {
            format: 'MM/DD/YYYY h:mm A'
        },
    });

</script>