﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Expensives;
}

@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="content-wrap">
            <div class="fancy-title title-dotted-border title-center">
                <h2><span>Masraf</span> Bilgisi</h2>
            </div>
            <div class="container clearfix">
                <div id='@transcationCode'></div>
            </div>
        </div>
    </div>
</section>

<script>
    var formSubmitHandler = $.noop;
    $(window).load(function () {
    showGrid('@transcationCode');
        function showGrid(transcationCode) {
            var grid = $('#' + transcationCode);
            var getUrl = baseUrl + transcationCode + "/";
            var postUrl = baseUrl + transcationCode + "/new/";
            var currencyList = @Json.Serialize(ApplicationContext.Currency);
            var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
                inserting: false,
                editing: true,
                filtering: true,
                sorting: true,
                controller:
                {
                    loadData: function (filter) {
                        var result = callAPI(getUrl, null, "GET");
                        var d = $.Deferred();

                        if (result && result[transcationCode]) {
                            return {
                                data: result[transcationCode],
                                itemsCount: [result[transcationCode].length - 1]
                            }
                        }
                        else {
                            return {
                                data: [],
                                itemsCount: [0]
                            }
                        }
                    },
                    insertItem: function (item) {
                        delete item.id;
                        var insertData = JSON.stringify(item);
                        var result = callAPI(postUrl, insertData, "POST");
                    },
                    updateItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var updateItem = JSON.stringify(item);
                        var result = callAPI(url, updateItem, "PUT");
                    },
                    deleteItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var result = callAPI(url, null, "DELETE");
                    }
                },
                rowClick: function (args) {
                },
                fields: [
                    { name: "id", type: "number", visible: false, width: "auto" },
                    { title: "Fiyat", name: "price", type: "text", validate: "required", width: "auto" },
                    { title: "Masraf Tarihi", name: "expense_date", type: "customDateTimeField", validate: "required", width: "auto" },
                    { title: "Ürün Açıklaması", name: "description", type: "text", validate: "required", width: "auto" },
                    {
                        type: "control",
                        width: 120,
                        modeSwitchButton: false,
                        editButton: false,
                        headerTemplate: function ()
                        {
                            return $("<button>")
                                .attr("type", "button")
                                .attr("class", "button button-rounded button-reveal button-large button-yellow button-light")
                                .append("<i class='icon-edit'></i>")
                                .append("<span>Yeni</span>")
                                .on("click", function () {
                                    var item = {};
                                    showDetailsDialog("Add", item);
                                });
                        }
                    }
                ]
            });

            grid.jsGrid(latestJsGridOptions);
            var showDetailsDialog = function (dialogType, item) {
                $.post('/Expensive/Definition/', item, function (content) {
                    showModal('@transcationCode', content);
                    formSubmitHandler = function () {
                        saveClient(item, dialogType === "Add");
                    };
                });
            };
            var saveClient = function (item, isNew) {
                var postItem = {};
                $.extend(postItem, {
                    description: $("#description").val(),
                    price: $("#price").val(),
                    currency: $("#currency").val(),
                    expense_date: $("#expense_date").val()
                });
                postItem.expense_date = new Date(postItem.expense_date).toISOString();
                postItem.insert_user = 1;
                if (!isNew) {
                    postItem.id = item.id;
                }
                grid.jsGrid(isNew ? "insertItem" : "updateItem", postItem);
                $('#' + transcationCode + 'FormModal').modal('hide');
                $('#' + transcationCode + 'FormModal').empty();
            };
        }
    });
</script>