﻿@model InvoiceViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Invoice;
    var formId = transcationCode + "FormModal";
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "Invoice", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">Fatura Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Adı <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.invoice_no, new { id = "invoice_no", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Fatura Tipi <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.invoice_type, Model.InvoiceTypeListItems, new { id = "invoice_type", @class = "select-1 sm-form-control required", style = "width:100%;" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">İrsaliye <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.waybillList, new SelectList(ApplicationContext.WayBillList, "id", "waybill_no"),
                                               new { id = "waybills", @class = "select-tags form-control", multiple = "", tabindex = "-1", aria_hidden = "true", style = "width:100%;" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-phone">Şirket <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.company.id, Model.CompanyListItems, new { id = "company", @class = "select-1 form-control required", style = "width:100%;" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Kişiler <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.contact.id, Model.ContactListItems, new { id = "contact", @class = "select-1 form-control required", style = "width:100%;" })
                        </div>


                        <div class="col_half col_last">
                            <label for="template-contactform-name">Seri No <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.serial_no, new { id = "serial_no", name = "template-contactform-serial_no", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Sipariş No <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.order_no, new { id = "order_no", name = "template-contactform-order_no", @class = "sm-form-control" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Fiyat <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.price, new { id = "price", name = "template-contactform-price", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="template-contactform-name">Ürün <small>*</small></label>
                                @Html.DropDownListFor(Model => Model.product, Model.ProductListItems, new { id = "product", @class = "select-1 form-control required", style = "width:100%;" })
                            </div>
                            <div class="form-group col-md-3">
                                <label for="template-contactform-name">Miktar <small>*</small></label>
                                @Html.TextBoxFor(Model => Model.quantity, new { id = "quantity", name = "template-contactform-quantity", @class = "sm-form-control" })
                            </div>
                            <div class="form-group col-md-3">
                                <label for="template-contactform-name">Miktar Tipi <small>*</small></label>
                                @Html.DropDownListFor(Model => Model.quantity_type, Model.QuantityTypeListItems, new { id = "quantity_type", @class = "select-1 form-control required", style = "width:100%;" })
                            </div>
                        </div>
                        


                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Birim Fiyatı <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.unit_price, new { id = "unit_price", name = "template-contactform-unit_price", @class = "sm-form-control" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Döviz Tipi <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.currency, Model.CurrencyListItems, new { id = "currency", @class = "select-1 form-control required", style = "width:100%;" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_full">
                            <label for="template-contactform-name">Açıklama <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.description, new { id = "description", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        @if (Model.id > 0)
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                        }
                        else
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                        }
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>$("form").submit(function (event) {
        event.preventDefault();
        debugger;
        if ($("#invoice_no").val() &&
            $("#invoice_type").val() != "Seçiniz" &&
            $("#company").val() != "Seçiniz" &&
            $("#contact").val() != "Seçiniz" &&
            $("#product").val() != "Seçiniz" &&
            $("#quantity_type").val() != "Seçiniz" &&
            $("#currency").val() != "Seçiniz" &&
            $("#serial_no").val() &&
            $("#order_no").val() &&
            $("#description").val() &&
            $("#price").val() &&
            $("#unit_price").val() &&
            $("#quantity").val() != "0" &&
            $("#quantity").val() != "" &&
            $("#waybills") &&
            $("#waybills").val() &&
            $("#waybills").val().length > 0) {
            formSubmitHandler();
        }
        else {
            showStatusMessage(" Lütfen boş alanları doldurunuz.", MessageType.Information);
        }
    });</script>


<script>
    jQuery(document).ready(function ($) {

        // Multiple Select
        $(".select-1").select2({
            placeholder: "Select Multiple Values"
        });

        // Loading array data
        var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];
        $(".select-data-array").select2({
            data: data
        })
        $(".select-data-array-selected").select2({
            data: data
        });

        // Enabled/Disabled
        $(".select-disabled").select2();
        $(".select-enable").on("click", function () {
            $(".select-disabled").prop("disabled", false);
            $(".select-disabled-multi").prop("disabled", false);
        });
        $(".select-disable").on("click", function () {
            $(".select-disabled").prop("disabled", true);
            $(".select-disabled-multi").prop("disabled", true);
        });

        $(".select-hide").select2({
            minimumResultsForSearch: Infinity
        });

        // select Tags
        $(".select-tags").select2({
            tags: true
        });

        $('.selectsplitter').selectsplitter();

    });</script>