﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Invoice;
}

@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="content-wrap">
            <div class="fancy-title title-dotted-border title-center">
                <h2><span>Fatura</span> Bilgisi</h2>
            </div>
            <div class="container clearfix">
                <div id='@transcationCode'></div>
            </div>
        </div>
    </div>
</section>

<script>
    var formSubmitHandler = $.noop;
    $(window).load(function () {
    showGrid('@transcationCode');
        function showGrid(transcationCode) {
            var grid = $('#' + transcationCode);
            var getUrl = baseUrl + transcationCode + "/";
            var postUrl = baseUrl + transcationCode + "/new/";
            var financeTypeList = @Json.Serialize(ApplicationContext.FinanceType);
            var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
                inserting: false,
                editing: false,
                filtering: true,
                sorting: true,
                controller:
                {
                    loadData: function (filter) {
                        var result = callAPI(getUrl, null, "GET");
                        var d = $.Deferred();

                        if (result && result[transcationCode]) {
                            return {
                                data: result[transcationCode],
                                itemsCount: [result[transcationCode].length - 1]
                            }
                        }
                        else {
                            return {
                                data: [],
                                itemsCount: [0]
                            }
                        }
                    },
                    insertItem: function (item) {
                        delete item.id;
                        item.status = 1;
                        var insertData = JSON.stringify(item);
                        var result = callAPI(postUrl, insertData, "POST");
                    },
                    updateItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var updateItem = JSON.stringify(item);
                        var result = callAPI(url, updateItem, "PUT");
                    },
                    deleteItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var result = callAPI(url, null, "DELETE");
                    }
                },
                rowClick: function (args) {
                    var item = {};
                    showDetailsDialog("Update", args.item);
                },
                fields: [
                    { name: "id", type: "number", visible: false, width: "auto" },
                    { title: "Fatura No", name: "invoice_no", type: "text", validate: "required", width: "auto" },
                    { title: "Fatura Tipi", name: "invoice_type", type: "select", items: financeTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
                    { title: "İrsaliye No", name: "waybill.waybill_no", type: "text", validate: "required", width: "auto" },
                    { title: "Şirket", name: "company.name", type: "text", validate: "required", width: "auto" },
                    { title: "Seri No", name: "serial_no", type: "text", validate: "required", width: "auto" },
                    { title: "Miktar", name: "quantity", type: "text", validate: "required", width: "auto" },
                    { title: "Fiyat", name: "price", type: "text", validate: "required", width: "auto" },
                    {
                        type: "control",
                        width: 120,
                        modeSwitchButton: false,
                        editButton: false,
                        itemTemplate: function (value, item) {
                            var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                            var $customEditButton = $("<button>").attr({ class: "customGridEditbutton jsgrid-button jsgrid-edit-button" })
                                .click(function (e) {
                                    callAPI("InvoiceDetail", { Id: item.id }, "POST");
                                    e.stopPropagation();
                                });
                            return $result.add($customEditButton);
                        },
                        headerTemplate: function ()
                        {
                            return $("<button>")
                                .attr("type", "button")
                                .attr("class", "button button-rounded button-reveal button-large button-yellow button-light")
                                .append("<i class='icon-edit'></i>")
                                .append("<span>Yeni</span>")
                                .on("click", function () {
                                    var item = {};
                                    showDetailsDialog("Add", item);
                                });
                        }
                    }
                ]
            });

            grid.jsGrid(latestJsGridOptions);
            var showDetailsDialog = function (dialogType, item) {
                $.post('/Invoice/Definition/', item, function (content) {
                    showModal('@transcationCode', content);
                    formSubmitHandler = function () {
                        saveClient(item, dialogType === "Add");
                    };
                });
            };
            var saveClient = function (item, isNew) {
                var postItem = {};

                $.extend(postItem, {
                    invoice_type: $("#invoice_type").val(),
                    invoice_no: $("#invoice_no").val(),
                    waybills: $("#waybills").val(),
                    company: $("#company").val(),
                    contact: $("#contact").val(),
                    serial_no: $("#serial_no").val(),
                    order_no: $("#order_no").val(),
                    currency: $("#currency").val(),
                    description: $("#description").val(),
                    product: $("#product").val(),
                    quantity: $("#quantity").val(),
                    quantity_type: $("#quantity_type").val(),
                    unit_price: $("#unit_price").val(),
                    price: $("#price").val()
                });
                postItem.insert_user = 1;
                if (!isNew) {
                    postItem.id = item.id;
                }
                grid.jsGrid(isNew ? "insertItem" : "updateItem", postItem);
                $('#' + transcationCode + 'FormModal').modal('hide');
                $('#' + transcationCode + 'FormModal').empty();
            };
        }
    });
</script>