﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.StoreAction;
}

@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="content-wrap">
            <div class="row">
                <div class="col-lg-2">
                    <div id="tlContent"></div>
                </div>
                <div class="col-lg-2">
                    <div id="usdContent"></div>
                </div>
                <div class="col-lg-2">
                    <div id="eurContent"></div>
                </div>
            </div>
            <div class="fancy-title title-dotted-border title-center">
                <h2><span>Depo</span> Hareketleri</h2>
            </div>
            <div class="container clearfix">
                <div id='@transcationCode'></div>
            </div>
        </div>
    </div>
</section>

<script>
    $(window).load(function () {
    showGrid('@transcationCode');
    function showGrid(transcationCode) {
        var getUrl = baseUrl + transcationCode + "/";
        var postUrl = baseUrl + transcationCode + "/new/";
        var financeTypeList = @Json.Serialize(ApplicationContext.FinanceType);
        var quantityTypeList = @Json.Serialize(ApplicationContext.QuantityType);
        var currencyTypeList = @Json.Serialize(ApplicationContext.Currency);
        var storeList = @Json.Serialize(ApplicationContext.StoreList);
        var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
            inserting: false,
            editing: false,
            filtering: false,
            sorting: true,
            searching: false,
            controller:
            {
                loadData: function (filter) {
                    var result = callAPI(getUrl, null, "GET");
                    if (result && result[transcationCode]) {
                        if (setTotalInfo) {
                            setTotalInfo(result[transcationCode], 'quantity', $('#tlContent'), $('#usdContent'), $('#eurContent'));
                        }
                        return {
                            data: result[transcationCode],
                            itemsCount: [result[transcationCode].length - 1]
                        }
                    }
                    else {
                        return {
                                data: [],
                                itemsCount: [0]
                            }
                    }
                },
                insertItem: function (item) {
                    delete item.id;
                    item.insert_user = 1;
                    var insertData = JSON.stringify(item);
                    var result = callAPI(postUrl, insertData, "POST");
                },
                updateItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var updateItem = JSON.stringify(item);
                    var result = callAPI(url, updateItem, "PUT");
                },
                deleteItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var result = callAPI(url, null, "DELETE");
                }
            },
            fields: [
                { name: "id", type: "number", visible: false, width: "auto" },
                { title: "Depo Adı", name: "store", type: "select", items: storeList, valueField: "id", textField: "name", validate: "required", width: "auto" },
                { title: "Tipi", name: "action_type", type: "select", items: financeTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
                { title: "Ürün", name: "product.name", type: "text", validate: "required", width: "auto" },
                { title: "Miktar", name: "quantity", type: "text", validate: "required", width: "auto" },
                { title: "Miktar Tipi", name: "quantity_type", type: "select", items: quantityTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
                { title: "İrsaliye No", name: "waybill.waybill_no", type: "text", validate: "required", width: "auto" },
                { title: "Döviz", name: "currency", type: "select", items: currencyTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
                { title: "Açıklama", name: "description", type: "text", validate: "required", width: "auto" },
                {
                    type: "control",
                    width: 0,
                    modeSwitchButton: false,
                    editButton: false,
                    deleteButton: false,
                    filterButton: false,
                    searchButton: false
                }
            ]
        });
        $('#' + transcationCode).jsGrid(latestJsGridOptions);
        }
    });
</script>