﻿@model LoginViewModel;
@{
    Layout = "_LoginLayout";
}
<div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
    <div class="card-body" style="padding: 40px;">
        <form id="login-form" name="login-form" class="nobottommargin" action="/Login/InitialLogin" method="post">
            <h3>Hesabınıza Giriş Yapınız</h3>

            <div class="col_full">
                <label for="login-form-username">Kullanıcı Adı:</label>
                @Html.TextBoxFor(Model => Model.username, new { id = "username", name = "login-form-username", @class = "form-control not-dark" })
            </div>

            <div class="col_full">
                <label for="login-form-password">Şifre:</label>
                @Html.TextBoxFor(Model => Model.password, new { id = "password", name = "login-form-password", @class = "form-control not-dark", @type = "password" })
            </div>
            <div class="col_full nobottommargin">
                <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Giriş</button>
                <a href="#" class="fright">Şifremi unuttum?</a>
            </div>
        </form>

        <div class="line line-sm"></div>

    </div>
</div>

<script>
    $(window).keypress(function (e) {
        if (e.which == 13) {
            $('#login-form').submit();
            return false;
        }
    });
</script>