﻿@model ContactViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Contact;
    var formId = transcationCode + "FormModal";
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "Contact", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">Bağlantı Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Adı <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.first_name, new { id = "contactFirstName", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Soyadı <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.last_name, new { id = "contactLastName", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Ünvan <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.title, new { id = "contactTitle", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-phone">Telefon <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.phone, new { id = "contactPhone", name = "template-contactform-phone", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Mail <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.email, new { id = "contactMail", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Şirket <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.contact_user.id, Model.ContactUserItems, new { id = "contact_user", @class = "select-1 form-control required" })
                        </div>


                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Aktif mi? <small>*</small></label>
                            @Html.CheckBoxFor(Model => Model.is_active, new { id = "contactIsActive", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Sahibi mi? <small>*</small></label>
                            @Html.CheckBoxFor(Model => Model.is_owner, new { id = "contactIsOwner", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Ülke <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.country.id, Model.CountryListItems, new { id = "contactCountryId", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Şehir <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.city.id, Model.CompanyCityListItems, new { id = "contactCityId", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half ">
                            <label for="template-contactform-name">Şirket <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.company.id, Model.CompanyListItems, new { id = "contactCompanyId", @class = "select-1 form-control required" })
                        </div>
                        
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Açıklama <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.description, new { id = "contactDescription", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>


                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        @if (Model.id > 0)
                        {
                            <button class="btn btn-success ml-2" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                        }
                        else
                        {
                            <button class="btn btn-success ml-2" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                        }
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>$("form").submit(function (event) {
        event.preventDefault();
        formSubmitHandler();
    });</script>