﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Product;
}

@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="content-wrap">
            <div class="fancy-title title-dotted-border title-center">
                <h2><span>Ürün</span> Bilgisi</h2>
            </div>
            <div class="container clearfix">
                <div id='@transcationCode'></div>
            </div>
        </div>
    </div>
</section>

<script>
    $(window).load(function () {
    showGrid('@transcationCode');
    function showGrid(transcationCode, formatedPath) {
        var getUrl = baseUrl + transcationCode + "/";
        var postUrl = baseUrl + transcationCode + "/new/";
        var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
            controller:
            {
                loadData: function (filter) {
                    var result = callAPI(getUrl, null, "GET");
                    if (result && result[transcationCode]) {
                        return {
                            data: result[transcationCode],
                            itemsCount: [result[transcationCode].length - 1]
                        }
                    }
                    else {
                        return {
                                data: [],
                                itemsCount: [0]
                            }
                    }
                },
                insertItem: function (item) {
                    delete item.id;
                    item.insert_user = 1;
                    var insertData = JSON.stringify(item);
                    var result = callAPI(postUrl, insertData, "POST");
                },
                updateItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var updateItem = JSON.stringify(item);
                    var result = callAPI(url, updateItem, "PUT");
                },
                deleteItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var result = callAPI(url, null, "DELETE");
                }
            },
            fields: [
                { name: "id", type: "number", visible: false, width: "auto" },
                { title: "Ürün Adı", name: "name", type: "text", validate: "required", width: "auto" },
                { title: "Ürün Açıklaması", name: "description", type: "text", validate: "required", width: "auto" },
                { type: "control" }
            ]
        });
        $('#' + transcationCode).jsGrid(latestJsGridOptions);
        }
    });
</script>