﻿@model StoreViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Store;
    var formId = transcationCode + "FormModal";
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "Store", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">Depo Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_full">
                            <label for="template-contactform-name">Adı <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.name, new { id = "name", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_full">
                            <label for="template-contactform-name">adress <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.address, new { id = "address", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_full">
                            <label for="template-contactform-name">Açıklama <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.description, new { id = "description", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="clear"></div>

                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        @if (Model.id > 0)
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                        }
                        else
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                        }
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>$("form").submit(function (event) {
        event.preventDefault();
        formSubmitHandler();
    });</script>