﻿@model WayBillViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Waybill;
    var formId = transcationCode + "FormModal";
    Model.delivery_date = DateTime.Now;
    Model.dispatch_date = DateTime.Now;
}

<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "WayBill", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">İrsaliye Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">İrsaliye No <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.waybill_no, new { id = "waybill_no", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">İrsaliye Tipi <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.waybill_type, Model.WayBillTypeListItems, new { id = "waybill_type", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-phone">Şirketler <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.company.id, Model.CompanyListItems, new { id = "company", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Kişiler <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.contact.id, Model.ContactListItems, new { id = "contact", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Seri No <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.serial_no, new { id = "serial_no", @class = "sm-form-control" })
                        </div>


                        <div class="col_half col_last">
                            <label for="template-contactform-name">Sipariş No <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.order_no, new { id = "order_no", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Ürünler <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.product.id, Model.ProductListItems, new { id = "product", @class = "select-1 form-control required" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Ürünler Türü <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.quantity_type, Model.QuantityTypeListItems, new { id = "quantity_type", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Depo <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.store, Model.StoreListItems, new { id = "store", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Miktar <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.quantity, new { id = "quantity", @class = "sm-form-control required" })
                        </div>
                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Sevk Tarihi <small>*</small></label>
                            <input type="text" class="form-control datetimepicker-input tleft" data-toggle="datetimepicker" autocomplete="off" id="dispatch_date" data-target="#dispatch_date" />
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Teslim Tarihi <small>*</small></label>
                            <input type="text" class="form-control datetimepicker-input tleft" data-toggle="datetimepicker" autocomplete="off" id="delivery_date"  data-target="#delivery_date" />
                        </div>
                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-name">Açıklama <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.description, new { id = "description", @class = "sm-form-control required" })
                        </div>
                        <div class="clear"></div>
                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                        </div>
                        <div class="modal-footer">
                            <div class="col-12 d-flex justify-content-end align-items-center">
                                @if (Model.id > 0)
                                {
                                    <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" value="submit">Güncelle</button>
                                }
                                else
                                {
                                    <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" value="submit">Kaydet</button>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                }

            </div><!-- /.modal-dialog -->
        </div>


<script>$("form").submit(function (event) {
    event.preventDefault();
    debugger;
    if ($("#waybill_type").val() != "Seçiniz" &&
        $("#contact").val() != "Seçiniz" &&
        $("#company").val() != "Seçiniz" &&
        $("#store").val() != "Seçiniz" &&
        $("#product").val() != "Seçiniz" &&
        $("#waybill_no").val() &&
        $("#serial_no").val() &&
        $("#order_no").val() &&
        $("#description").val() &&
        $("#dispatch_date").val() &&
        $("#delivery_date").val() &&
        $("#quantity").val() != "0" &&
        $("#quantity").val() != "" &&
        $("#quantity_type").val()  ) {
        formSubmitHandler();
    }
    else {
        showStatusMessage(" Lütfen boş alanları doldurunuz.", MessageType.Information);
    }
    });

    $(function () {
        $('#dispatch_date').datetimepicker({
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            },
        });
        $('#delivery_date').datetimepicker({
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            },
        });
    });</script>
