﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Waybill;
}

@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="content-wrap">
            <div class="fancy-title title-dotted-border title-center">
                <h2><span>İrsaliye</span> Bilgisi</h2>
            </div>
            <div class="container clearfix">
                <div id='@transcationCode'></div>
            </div>
        </div>
    </div>
</section>

<script>
    var formSubmitHandler = $.noop;
    $(window).load(function () {
    showGrid('@transcationCode');
        function showGrid(transcationCode) {
            var grid = $('#' + transcationCode);
            var getUrl = baseUrl + transcationCode + "/";
            var postUrl = baseUrl + transcationCode + "/new/";
            var waybillTypeList = @Json.Serialize(ApplicationContext.FinanceType);
            var unitTypeList = @Json.Serialize(ApplicationContext.QuantityType);
            var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
                inserting: false,
                editing: false,
                filtering: true,
                sorting: true,
                controller:
                {
                    loadData: function (filter) {
                        var result = callAPI(getUrl, null, "GET");
                        var d = $.Deferred();

                        if (result && result[transcationCode]) {
                            return {
                                data: result[transcationCode],
                                itemsCount: [result[transcationCode].length - 1]
                            }
                        }
                        else {
                            return {
                                data: [],
                                itemsCount: [0]
                            }
                        }
                    },
                    insertItem: function (item) {
                        delete item.id;
                        var insertData = JSON.stringify(item);
                        var result = callAPI(postUrl, insertData, "POST");
                    },
                    updateItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var updateItem = JSON.stringify(item);
                        var result = callAPI(url, updateItem, "PUT");
                    },
                    deleteItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var result = callAPI(url, null, "DELETE");
                    }
                },
                rowClick: function (args) {
                    showDetailsDialog("Update", args.item);
                },
                fields: [
                    { name: "id", type: "number", visible: false, width: "auto" },
                    { title: "İrsaliye No", name: "waybill_no", type: "text", validate: "required", width: "auto" },
                    { title: "İrsaliye Tipi", name: "waybill_type", type: "select", items: waybillTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
                    { title: "Seri No", name: "serial_no", type: "text", validate: "required", width: "auto" },
                    { title: "Sipariş No", name: "order_no", type: "text", validate: "required", width: "auto" },
                    { title: "Açıklama", name: "description", type: "text", validate: "required", width: "auto" },
                    { title: "Miktar", name: "quantity", type: "text", validate: "required", width: "auto" },
                    { title: "Miktar Tipi", name: "quantity_type", type: "select", items: unitTypeList, valueField: "id", textField: "text", validate: "required", width: "auto" },
                    {
                        type: "control",
                        width: 120,
                        modeSwitchButton: false,
                        editButton: false,
                        headerTemplate: function ()
                        {
                            return $("<button>")
                                .attr("type", "button")
                                .attr("class", "button button-rounded button-reveal button-large button-yellow button-light")
                                .append("<i class='icon-edit'></i>")
                                .append("<span>Yeni</span>")
                                .on("click", function () {
                                    var item = {};
                                    showDetailsDialog("Add", item);
                                });
                        }
                    }
                ]
            });

            grid.jsGrid(latestJsGridOptions);
            var showDetailsDialog = function (dialogType, item) {
                $.post('/WayBill/Definition/', item, function (content) {
                    showModal('@transcationCode', content);
                    formSubmitHandler = function () {
                        saveClient(item, dialogType === "Add");
                    };
                });
            };
            var saveClient = function (item, isNew) {
                var postItem = {};
                $.extend(postItem, {
                    waybill_type: $("#waybill_type").val(),
                    waybill_no: $("#waybill_no").val(),
                    contact: $("#contact").val(),
                    company: $("#company").val(),
                    serial_no: $("#serial_no").val(),
                    order_no: $("#order_no").val(),
                    description: $("#description").val(),
                    dispatch_date: $("#dispatch_date").val(),
                    delivery_date: $("#delivery_date").val(),
                    product: $("#product").val(),
                    quantity: $("#quantity").val(),
                    quantity_type: $("#quantity_type").val(),
                    store: $("#store").val()
                });
                postItem.insert_user = 1;
                if (!isNew) {
                    postItem.id = item.id;
                }
                postItem.status = 1;
                postItem.dispatch_date = new Date(postItem.dispatch_date).toISOString();
                postItem.delivery_date = new Date(postItem.delivery_date).toISOString();
                grid.jsGrid(isNew ? "insertItem" : "updateItem", postItem);
                $('#' + transcationCode + 'FormModal').modal('hide');
                $('#' + transcationCode + 'FormModal').empty();
            };
        }
    });
</script>