﻿@model GeneralFeaturesViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.GeneralFeature;
    var formId = transcationCode + "FormModal";
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "GeneralFeature", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">Genel Özellik Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Şirket <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.company.id, Model.CompanyListItems, new { id = "company", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Döviz <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.currency, Model.CurrencyListItems, new { id = "currency", @class = "select-1 form-control required" })

                        </div>
                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Şirket <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.unit_type, Model.QuantityTypeListItems, new { id = "unit_type", @class = "select-1 form-control required" })
                        </div>
                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        @if (Model.id > 0)
                        {
                            <button class="btn btn-success ml-2" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                        }
                        else
                        {
                            <button class="btn btn-success ml-2" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                        }
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>$("form").submit(function (event) {
        event.preventDefault();
        formSubmitHandler();
    });</script>