﻿
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.City;
    var mainTranscationCode = Finduk.Application.Base.ApiMethod.Country;
    var countryId = ApplicationContext.CurrentCountryId;
    var formatedPath = string.Empty;
    if (countryId > 0)
    {
        formatedPath = String.Format("{0}/{1}/", mainTranscationCode, countryId);
    }

}

<div id='@transcationCode'></div>
<script>
    $(window).load(function () {
    showGrid('@transcationCode', '@formatedPath');
        function showGrid(transcationCode, formatedPath) {
            if (!formatedPath) {
                return;
            }
            var getUrl = baseUrl + formatedPath + transcationCode + "/";
            var postUrl = baseUrl + formatedPath + transcationCode + "/new/";
            var cityList = [];
            var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
            controller:
            {
                loadData: function (filter) {
                    var result = callAPI(getUrl, null, "GET");
                    if (result && result[transcationCode]) {
                        cityList = result[transcationCode];
                        return {
                            data: cityList,
                            itemsCount: [result[transcationCode].length - 1]
                        }
                    }
                    else {
                        return {
                                data: cityList,
                                itemsCount: [0]
                            }
                    }
                },
                insertItem: function (item) {
                    delete item.id;
                    var insertData = JSON.stringify(item);
                    var result = callAPI(postUrl, insertData, "POST");
                },
                updateItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var updateItem = JSON.stringify(item);
                    var result = callAPI(url, updateItem, "PUT");
                },
                deleteItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var result = callAPI(url, null, "DELETE");
                }
            },
            fields: [
                { name: "id", type: "number", visible: false, width: "auto" },
                { title: "Şehir Adı", name: "name", type: "text", validate: "required", width: "auto" },
                { type: "control" }
            ]
        });
        $('#' + transcationCode).jsGrid(latestJsGridOptions);
        }
    });
</script>
