﻿@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Company;
}

<div id='@transcationCode'></div>


<script>
    var formSubmitHandler = $.noop;
    $(window).load(function () {
    showGrid('@transcationCode');
        function showGrid(transcationCode) {
            var grid = $('#' + transcationCode);
            var getUrl = baseUrl + transcationCode + "/";
            var postUrl = baseUrl + transcationCode + "/new/";
            var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
                inserting: false,
                editing: false,
                filtering: true,
                sorting: true,
                controller:
                {
                    loadData: function (filter) {
                        var result = callAPI(getUrl, null, "GET");
                        var d = $.Deferred();
                        //$("#grid").jsGrid("sort", { field: "Name", order: "desc" });

                        if (result && result[transcationCode]) {
                            return {
                                data: result[transcationCode],
                                itemsCount: [result[transcationCode].length - 1]
                            }
                        }
                        else {
                            return {
                                data: [],
                                itemsCount: [0]
                            }
                        }
                    },
                    insertItem: function (item) {
                        delete item.id;
                        var insertData = JSON.stringify(item);
                        var result = callAPI(postUrl, insertData, "POST");
                    },
                    updateItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var updateItem = JSON.stringify(item);
                        var result = callAPI(url, updateItem, "PUT");
                    },
                    deleteItem: function (item) {
                        var url = getUrl + item.id + '/';
                        var result = callAPI(url, null, "DELETE");
                    }
                },
                rowClick: function (args) {
                    var item = {};
                    showDetailsDialog("Update", args.item);
                },
                fields: [
                    {
                        name: "id", type: "number", visible: false, width: "auto"
                    },
                    {
                        title: "Şirket Adı", name: "name", type: "text", sorting: true, validate: "required", width: "auto"
                    },
                    {
                        title: "Telefon", name: "phone", type: "text", sorting: true, validate: "required", width: "auto"
                    },
                    {
                        title: "Vergi Dairesi", name: "tax_office", type: "text", sorting: true, validate: "required", width: "auto"
                    },
                    {
                        title: "Vergi Numarası", name: "tax_no", type: "text", sorting: true, validate: "required", width: "auto"
                    },
                    {
                        title: "Banka Hesabı", name: "banking_accounts", type: "text", sorting: true, validate: "required", width: "auto"
                    },
                    {
                        type: "control",
                        width: 120,
                        modeSwitchButton: false,
                        editButton: false,
                        headerTemplate: function ()
                        {
                            return $("<button>")
                                .attr("type", "button")
                                .attr("class", "button button-rounded button-reveal button-large button-yellow button-light")
                                .append("<i class='icon-edit'></i>")
                                .append("<span>Yeni</span>")
                                .on("click", function () {
                                    var item = {};
                                    showDetailsDialog("Add", item);
                                });
                        }
                    }
                ]
            });
            
            grid.jsGrid(latestJsGridOptions);
            var showDetailsDialog = function (dialogType, item) {
                $.post('/Home/CompanyDefinition/', item, function (content) {
                    showModal('@transcationCode', content);
                    formSubmitHandler = function () {
                        saveClient(item, dialogType === "Add");
                    };
                });
            };
            var saveClient = function (item, isNew) {
                var postItem = {};
                $.extend(postItem, {
                    name: $("#companyName").val(),
                    phone: $("#companyPhone").val(),
                    fax: $("#companyFax").val(),
                    banking_accounts: $("#companyBankingAccounts").val(),
                    tax_office: $("#companyTaxOffice").val(),
                    tax_no: $("#companyTaxNo").val(),
                    description: $("#companyDescription").val(),
                    email: $("#companyMail").val(),
                    country: $("#companyCountry").val(),
                    city: $("#companyCity").val()
                });
                postItem.insert_user = 1;
                if (!isNew) {
                    postItem.id = item.id;
                }
                grid.jsGrid(isNew ? "insertItem" : "updateItem", postItem);
                $('#' + transcationCode + 'FormModal').modal('hide');
                $('#' + transcationCode + 'FormModal').empty();
            };
        }
    });
</script>
