﻿@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Country;
}

<div id='@transcationCode'></div>
<script>
    
    $(window).load(function () {
    showGrid('@transcationCode');
    function showGrid(transcationCode) {
        var getUrl = baseUrl + transcationCode + "/";
        var postUrl = baseUrl + transcationCode + "/new/";
        var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
            controller:
            {
                loadData: function (filter) {
                    var result = callAPI(getUrl, null, "GET");
                    if (result && result[transcationCode]) {
                        return {
                            data: result[transcationCode],
                            itemsCount: [result[transcationCode].length - 1]
                        }
                    }
                    else {
                        return {
                                data: [],
                                itemsCount: [0]
                            }
                    }
                },
                insertItem: function (item) {
                    delete item.id;
                    var insertData = JSON.stringify(item);
                    var result = callAPI(postUrl, insertData, "POST");
                },
                updateItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var updateItem = JSON.stringify(item);
                    var result = callAPI(url, updateItem, "PUT");
                },
                deleteItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var result = callAPI(url, null, "DELETE");
                }
            },
            fields: [
                { name: "id", type: "number", visible: false, width: "auto" },
                { title: "Dil Kodu", name: "language", type: "text", validate: "required", width: "auto" },
                { title: "Ülke Kodu", name: "code", type: "text", validate: "required", width: "auto" },
                { title: "Ülke Adı", name: "name", type: "text", validate: "required", width: "auto" },
                { type: "control" }
            ]
        });
        $('#' + transcationCode).jsGrid(latestJsGridOptions);
        }
    });
</script>
