﻿@using Finduk.Application.Base;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.User;
}

<div id='@transcationCode'></div>
<script>
    $(window).load(function () {
        transcationCode = '@transcationCode';
        var getUrl = baseUrl + transcationCode + "/";
        var postUrl = baseUrl + transcationCode + "/register/";

        var latestJsGridOptions = Object.assign(jsGridDefaultOptions, {
            controller:
            {
                loadData: function (filter) {
                    var result = callAPI(getUrl, null, "GET");
                    if (result[transcationCode] && result[transcationCode].length > 0) {
                        showStatusMessage(result[transcationCode].length + " Kullanıcı getirildi.", MessageType.Information);
                        if (result && result[transcationCode]) {
                            return {
                                data: result[transcationCode],
                                itemsCount: [result[transcationCode].length]
                            }
                        }
                        else {
                            return {
                                data: [],
                                itemsCount: [0]
                            }
                        }
                    }
                    else {
                        showStatusMessage("Kayıt getirilemedi.", MessageType.Information);
                        return {
                            data: [],
                            itemsCount: [0]
                        }
                    }

                },
                insertItem: function (item) {
                    delete item.id;
                    var insertData = JSON.stringify(item);
                    var result = callAPI(postUrl, insertData, "POST");
                    showStatusMessage("Kaydetme işlemi başarıyla gerçekleştirildi.", MessageType.Success);
                },
                updateItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var updateItem = JSON.stringify(item);
                    var result = callAPI(url, updateItem, "PUT");
                    showStatusMessage("Güncelleme işlemi başarıyla gerçekleştirildi.", MessageType.Success);
                },
                deleteItem: function (item) {
                    var url = getUrl + item.id + '/';
                    var result = callAPI(url, null, "DELETE");
                    showStatusMessage("Silme işlemi başarıyla gerçekleştirildi.", MessageType.Success);
                }
            },
            fields: [
                { name: "id", type: "number", visible: false, width: "auto" },
                { title: "Adı", name: "first_name", type: "text", validate: "required", width: "auto" },
                { title: "Soyadı", name: "last_name", type: "text", validate: "required", width: "auto" },
                { title: "Kullanıcı Adı", name: "username", type: "text", validate: "required", width: "auto" },
                { title: "E-Mail", name: "email", type: "text", validate: "required", width: "auto" },
                { title: "Şifre", name: "password", type: "text", validate: "required", sorting: true, editing: false, width: "auto" },
                { type: "control" }
            ],
        });
        $('#' + transcationCode).jsGrid(latestJsGridOptions);
    });
</script>
