﻿@model ReceiptViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Receipt;
    var formId = transcationCode + "FormModal";
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("Definition", "Receipt", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">Makbuz Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Makbuz No <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.receipt_no, new { id = "receipt_no", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Makbuz Tipi <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.receipt_type, Model.InvoiceTypeListItems, new { id = "receipt_type", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Ürün <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.product.id, Model.ProductListItems, new { id = "product", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-phone">Şirket <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.company.id, Model.CompanyListItems, new { id = "company", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>
                        <div class="col_half">
                            <label for="template-contactform-name">Kişiler <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.contact.id, Model.ContactListItems, new { id = "contact", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Depo <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.store.id, Model.StoreListItems, new { id = "store", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Miktar <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.quantity, new { id = "quantity", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Miktar Tipi <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.quantity_type, Model.QuantityTypeListItems, new { id = "quantity_type", @class = "select-1 form-control required", style = "width:100%;" })
                        </div>
                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-name">Açıklama <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.description, new { id = "description", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        @if (Model.id > 0)
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                        }
                        else
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                        }
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>$("form").submit(function (event) {
        event.preventDefault();
        formSubmitHandler();
    });</script>