﻿@model CompanyViewModel;
@{
    var transcationCode = Finduk.Application.Base.ApiMethod.Company;
    var formId = transcationCode + "FormModal";
    var countryList = ApplicationContext.CountryList;
    var companyCityList = ApplicationContext.CompanyCityList;
    List<SelectListItem> countryListItems = new List<SelectListItem>();
    foreach (var country in countryList)
    {
        countryListItems.Add(new SelectListItem
        {
            Text = country.name,
            Value = country.id.ToString()
        });
    }
    List<SelectListItem> companyCityListItems = new List<SelectListItem>();
    foreach (var city in companyCityList)
    {
        companyCityListItems.Add(new SelectListItem
        {
            Text = city.name,
            Value = city.id.ToString()
        });
    }
}
<div class="modal fade" id="@formId" tabindex="-1" role="dialog" aria-labelledby="contactFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        @using (Html.BeginForm("ComponentDefinition", "Home", FormMethod.Post, new { id = "template-contactform", name = "template-contactform", @class = "nobottommargin" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="contactFormModalLabel">Şirket Tanımlama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-widget">

                        <div class="form-result"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Name <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.name, new { id = "companyName", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-phone">Phone <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.phone, new { id = "companyPhone", name = "template-contactform-phone", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Fax <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.fax, new { id = "companyFax", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Banka Hesabı <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.banking_accounts, new { id = "companyBankingAccounts", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Vergi Dairesi <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.tax_office, new { id = "companyTaxOffice", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Vergi Numarası <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.tax_no, new { id = "companyTaxNo", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Açıklama <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.description, new { id = "companyDescription", name = "template-contactform-name", @class = "sm-form-control required" })
                        </div>
                        <div class="col_half col_last">
                            <label for="template-contactform-name">Mail <small>*</small></label>
                            @Html.TextBoxFor(Model => Model.email, new { id = "companyMail", name = "template-contactform-name", @class = "sm-form-control" })
                        </div>

                        <div class="clear"></div>

                        <div class="col_half">
                            <label for="template-contactform-name">Ülke <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.country.id, countryListItems, new { id = "companyCountry", @class = "select-1 form-control required" })
                        </div>

                        <div class="col_half col_last">
                            <label for="template-contactform-name">Şehir <small>*</small></label>
                            @Html.DropDownListFor(Model => Model.city.id, companyCityListItems, new { id = "companyCity", @class = "select-1 form-control required" })
                        </div>

                        <div class="clear"></div>

                        <input type="hidden" name="prefix" value="template-contactform-">
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        @if (Model.id > 0)
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Güncelle</button>
                        }
                        else
                        {
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="template-contactform-submit" value="submit">Kaydet</button>
                        }
                    </div>
                </div>
            </div>

            <!-- /.modal-content -->
        }

    </div><!-- /.modal-dialog -->
</div>


<script>$("form").submit(function (event) {
        event.preventDefault();
        formSubmitHandler();
    });</script>