﻿@{

}


@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="accordion clearfix">

            <!--Language -->
            <div class="acctitle">
                <div class="fancy-title title-dotted-border title-center">
                    <h2><span>Dil</span> Bilgisi</h2>
                </div>
            </div>
            <div class="acc_content clearfix">
                <div class="container clearfix">
                    @await Html.PartialAsync("Grids/Language")
                </div>
            </div>
            <!--Language End-->
            <!--Country -->
            <div class="acctitle">
                <div class="fancy-title title-dotted-border title-center">
                    <h2><span>Ülke</span> Bilgisi</h2>
                </div>
            </div>
            <div class="acc_content clearfix">
                <div class="container clearfix">
                    @await Html.PartialAsync("Grids/Country")
                </div>
            </div>
            <!--Country End-->
            <!--City -->
            <div class="acctitle">
                <div class="fancy-title title-dotted-border title-center">
                    <h2><span>Şehir</span> Bilgisi</h2>
                </div>
            </div>
            <div class="acc_content clearfix">
                <div class="container clearfix">
                    @await Html.PartialAsync("Grids/City")
                </div>
            </div>
            <!--City End-->
        </div>
    </div>
</section>
