﻿@page
@{
}


<!-- Slider
    ============================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
    <div class="slider-parallax-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('/images/slider/swiper/3.jpg'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2 data-animate="bounceInLeft">Finduk'a Hoşgeldiniz</h2>
                            <p class="d-none d-sm-block" data-animate="bounceInRight" data-delay="200">Yakında zımba gibi özelliklerle geliyoruz...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #Slider end -->
