﻿@{
}

@await Html.PartialAsync("Title")
<section id="content">
    <div class="container clearfix">
        <div class="content-wrap">
            <div class="fancy-title title-dotted-border title-center">
                <h2><span>Kullanıcı</span> Bilgisi</h2>
            </div>
            <div class="container clearfix">
                @await Html.PartialAsync("Grids/UserInfo")
            </div>
        </div>
    </div>
</section>
